//estilos generales
ul{
    list-style: none;  
     margin: 0;
    padding: 0;
}
@mixin general {
    width: 1200px;
    background: #d84737; 
    margin-top: 50px;
}
//div padre (container) float
.container{
   @include general;
}
li{
    width: 359px;
    display: inline-block;
    margin: 10px 10px;
    border: 1px solid white;
    color: antiquewhite;
    text-align: center;
}
//Segundo container
.container2{
    
    @include general;
}
.container2 li {
    margin: 10px 10px;
    display: inline-block;
}
.a {
    width: 48%;
}
.b {
    width: 23%;
}
.c {
    width: 73%;
}
.d {
    width: 98%;
}

// Tercer container
.container3{
    @include general;
}
.bb{
    width: 22.8%;
}
.f{
    margin-right: 52px;
}
.g {
    float: left;
    height: 60px;
    width: 48%;
}
.h{
    float: left;
}
.i{
    float: right;
}
.k {
    width: 72%;
    
}